CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

*.swp
bin/
Demo
*.so

praca/artykuly
praca/*.aux
praca/*.bbl
praca/*.blg
praca/*.loc
praca/*.lod
praca/*.lof
praca/*.log
praca/*.lot
praca/*.lol
praca/*.pdf
praca/*.toc
